<ion-header>
  <ion-toolbar>
    <ion-title>Statistiques</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goToHome()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Période</ion-label>
    <ion-select [formControl]="selectedPeriodControl">
      <ion-select-option value="short_term"
        >4 dernières semaines</ion-select-option
      >
      <ion-select-option value="medium_term">6 derniers mois</ion-select-option>
      <ion-select-option value="long_term">Tout le temps</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <div class="chart-container">
          <div
            echarts
            [options]="artistsChartOption"
            style="height: 400px"
          ></div>
        </div>
      </ion-col>
      <ion-col size="12" size-md="6">
        <div class="chart-container">
          <div
            echarts
            [options]="tracksChartOption"
            style="height: 400px"
          ></div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="6">
        <div class="chart-container">
          <div
            echarts
            [options]="genresChartOption"
            style="height: 400px"
          ></div>
        </div>
      </ion-col>
      <ion-col size="12" size-md="6">
        <div class="chart-container">
          <div
            echarts
            [options]="durationChartOption"
            style="height: 400px"
          ></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
