@if (currentTrack) {
<ion-card>
  <ion-card-header>
    <ion-card-title>{{ currentTrack.name }}</ion-card-title>
    <ion-card-subtitle>{{ getArtistNames() }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <div class="album-art">
      <img [src]="currentTrack.album?.images?.[0]?.url" alt="Album Art">
    </div>

    <div class="progress">
      <span class="time">{{ formatTime(currentPosition) }}</span>
      <ion-range
        [value]="(currentPosition / duration) * 100"
        (ionChange)="onSeek($event)"
        [disabled]="!isPlaying"
      ></ion-range>
      <span class="time">{{ formatTime(duration) }}</span>
    </div>

    <div class="controls">
      <ion-button fill="clear" (click)="previousTrack()" [disabled]="!isPlaying">
        <ion-icon name="play-back"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="togglePlay()">
        <ion-icon [name]="isPlaying ? 'pause' : 'play'"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="nextTrack()" [disabled]="!isPlaying">
        <ion-icon name="play-forward"></ion-icon>
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>
} @else {
<ion-card>
  <ion-card-content>
    <p>Aucune piste en cours de lecture</p>
  </ion-card-content>
</ion-card>
}
