<ion-header>
  <ion-toolbar>
    <ion-title>Connexion à Spotify</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenue sur Statify</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Connecte-toi avec Spotify pour accéder à ta musique préférée.</p>
      <ion-button expand="full" (click)="login()">Se connecter avec Spotify</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
