<ion-header>
  <ion-toolbar>
    <ion-title>Statify</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="logout()">Déconnexion</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Bienvenue sur Statify</h2>
  <ion-button expand="full" (click)="goToStats()">Voir mes stats</ion-button>
  <ion-button
    expand="block"
    color="primary"
    (click)="generateTopTracksPlaylist()"
  >
    Générer ma playlist test top titres
  </ion-button>

  <ion-button
    expand="full"
    color="success"
    (click)="
      playTrack('spotify:track:2nLtzopw4rPReszdYBJU6h?si=ee807d4b83d548ac')
    "
  >
    Lancer "Numb de Linkin Park" (test)
  </ion-button>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Vos playlists</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      @for (playlist of userPlaylists(); track $index) {
      <ion-item button (click)="openPlaylist(playlist.external_urls.spotify)">
        <ion-thumbnail slot="start">
          <img [src]="playlist.images[0]?.url" alt="Pochette" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ playlist.name }}</h2>
          <p>{{ playlist.tracks.total }} titres</p>
        </ion-label>
      </ion-item>
      }
    </ion-card-content>
  </ion-card>

  <app-player></app-player>
</ion-content>
