<ion-header>
  <ion-toolbar>
    <ion-title>Accueil</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="logout()">Déconnexion</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Bienvenue sur Statify !</h2>
  <ion-button expand="full" (click)="goToStats()">📊 Voir mes stats</ion-button>
  <p>Recherchez une musique sur Spotify :</p>

  <ion-searchbar (ionInput)="search($event.detail.value || '')"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let track of tracks">
      <ion-thumbnail slot="start">
        <img [src]="track.album.images[0]?.url" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ track.name }}</h2>
        <p>{{ track.artists[0]?.name }}</p>
      </ion-label>
      <ion-button *ngIf="track.preview_url" (click)="playPreview(track.preview_url)">
        ▶️
      </ion-button>

    </ion-item>
  </ion-list>
</ion-content>
